@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Prompt', sans-serif;
}
#scrolly::-webkit-scrollbar {
  width: 12px;
}

/* Track */
#scrolly::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#scrolly::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
#scrolly::-webkit-scrollbar-thumb:hover {
  background: #555;
}
